<ul>
    <li>When: <%= activity.when %></li>
    <li>What: <%= activity.what %></li>
    <li>Length: <%= activity.length %></li>
    <li><%= link_to 'delete', activity_path(activity), method: :delete %></li>

</ul>