
<!--<ul>-->
<!--<% activity.groups.each do |key, amount| %>-->
    <!--<li><%= key %>: <%= amount %></li>-->
<!--<% end %>-->
<!--</ul>-->

<div class="row">
  <div class="col-xs-2">
    <p><%= day %></p>
  </div>
  <div class="col-xs-8">
    <%= render partial: 'stacked_bars', locals: {activity: activity.groups_ordered} %>
  </div>
</div>