<h1>
  Activities
</h1>

<p><a class="btn btn-primary" href="<%= new_activity_path %>">Add+</a></p>

<h2>Daily breakdown</h2>
<%= bar_chart @daily_breakdown.chart_data, stacked: true %>

<h2>Weekly total</h2>
<%= pie_chart @weekly_breakdown.chart_data %>
